USE [master]
GO
/****** Object:  Database [DbMvcKamp]    Script Date: 21.08.2022 18:02:54 ******/
CREATE DATABASE [DbMvcKamp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbMvcKamp', FILENAME = N'D:\Microsoft SQL\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbMvcKamp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbMvcKamp_log', FILENAME = N'D:\Microsoft SQL\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbMvcKamp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbMvcKamp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbMvcKamp]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 21.08.2022 18:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abouts]    Script Date: 21.08.2022 18:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abouts](
	[AboutID] [int] IDENTITY(1,1) NOT NULL,
	[AboutDetails1] [nvarchar](1000) NULL,
	[AboutDetails2] [nvarchar](1000) NULL,
	[AboutImage1] [nvarchar](100) NULL,
	[AboutImage2] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Abouts] PRIMARY KEY CLUSTERED 
(
	[AboutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admın]    Script Date: 21.08.2022 18:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admın](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[AdminUserName] [nvarchar](50) NULL,
	[AdminPassword] [nvarchar](50) NULL,
	[AdminRole] [nvarchar](1) NULL,
 CONSTRAINT [PK_dbo.Admın] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 21.08.2022 18:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[CategoryDescription] [nvarchar](200) NULL,
	[CategoryStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 21.08.2022 18:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserMail] [nvarchar](50) NULL,
	[Subject] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
	[MessageTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contents]    Script Date: 21.08.2022 18:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contents](
	[ContentID] [int] IDENTITY(1,1) NOT NULL,
	[ContentValue] [nvarchar](1000) NULL,
	[ContentDate] [datetime] NOT NULL,
	[HeadingID] [int] NOT NULL,
	[WriterID] [int] NULL,
	[ContentStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Contents] PRIMARY KEY CLUSTERED 
(
	[ContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Headings]    Script Date: 21.08.2022 18:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Headings](
	[HeadingID] [int] IDENTITY(1,1) NOT NULL,
	[HeadingName] [nvarchar](50) NULL,
	[HeadingDate] [datetime] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[WriterID] [int] NOT NULL,
	[HeadingStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Headings] PRIMARY KEY CLUSTERED 
(
	[HeadingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageFiles]    Script Date: 21.08.2022 18:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageFiles](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](100) NULL,
	[ImagePath] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.ImageFiles] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 21.08.2022 18:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[SenderMail] [nvarchar](50) NULL,
	[ReceiverMail] [nvarchar](50) NULL,
	[Subject] [nvarchar](70) NULL,
	[MessageContent] [nvarchar](max) NULL,
	[MessageDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Writers]    Script Date: 21.08.2022 18:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Writers](
	[WriterID] [int] IDENTITY(1,1) NOT NULL,
	[WriterName] [nvarchar](50) NULL,
	[WriterSurName] [nvarchar](50) NULL,
	[WriterImage] [nvarchar](250) NULL,
	[WriterMail] [nvarchar](200) NULL,
	[WriterPassword] [nvarchar](200) NULL,
	[WriterAbout] [nvarchar](100) NULL,
	[WriterTitle] [nvarchar](50) NULL,
	[WriterStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Writers] PRIMARY KEY CLUSTERED 
(
	[WriterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Abouts] ON 

INSERT [dbo].[Abouts] ([AboutID], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2]) VALUES (1, N'Hakkımda1 ', N'Hakkımda2', N'gorsel1', N'gorsel')
INSERT [dbo].[Abouts] ([AboutID], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2]) VALUES (2, N'Hakkımda3', N'Hakkımda4', N'gorsel3', N'gorsel4')
INSERT [dbo].[Abouts] ([AboutID], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2]) VALUES (3, N'deneme1', N'deneme2', N'denemeg1', N'denemeg2')
SET IDENTITY_INSERT [dbo].[Abouts] OFF
GO
SET IDENTITY_INSERT [dbo].[Admın] ON 

INSERT [dbo].[Admın] ([AdminId], [AdminUserName], [AdminPassword], [AdminRole]) VALUES (1, N'cem', N'123', N'B')
INSERT [dbo].[Admın] ([AdminId], [AdminUserName], [AdminPassword], [AdminRole]) VALUES (2, N'ali', N'321', N'B')
INSERT [dbo].[Admın] ([AdminId], [AdminUserName], [AdminPassword], [AdminRole]) VALUES (3, N'hasan', N'123', N'A')
SET IDENTITY_INSERT [dbo].[Admın] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [CategoryStatus]) VALUES (1, N'Eğitim', N'Burası eğitim kategorisidir.', 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [CategoryStatus]) VALUES (2, N'Tiyatro', N'Burası tiyatro kategorisidir.', 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [CategoryStatus]) VALUES (3, N'Kitap', N'Burası kitap kategorisidir.', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactID], [UserName], [UserMail], [Subject], [Message], [MessageTime]) VALUES (1, N'ssk', N'ssk@mail.com', N'test1', N'test1', CAST(N'2022-06-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Contacts] ([ContactID], [UserName], [UserMail], [Subject], [Message], [MessageTime]) VALUES (2, N'sasuke', N'saske@mail.com', N'test2', N'test2', CAST(N'2022-06-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Contacts] ([ContactID], [UserName], [UserMail], [Subject], [Message], [MessageTime]) VALUES (3, N'yay', N'yay@mail.com', N'Fenerbahce', N'Bu sene şampiyonzu', CAST(N'2022-06-20T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[Contents] ON 

INSERT [dbo].[Contents] ([ContentID], [ContentValue], [ContentDate], [HeadingID], [WriterID], [ContentStatus]) VALUES (1, N'Walter White''ın efsana yasam öyküsü', CAST(N'2022-04-24T00:00:00.000' AS DateTime), 1, 3, 1)
INSERT [dbo].[Contents] ([ContentID], [ContentValue], [ContentDate], [HeadingID], [WriterID], [ContentStatus]) VALUES (2, N'Küçük Walter seni çok özledik keşke o dizi deam etse', CAST(N'2022-04-25T00:00:00.000' AS DateTime), 1, 4, 1)
INSERT [dbo].[Contents] ([ContentID], [ContentValue], [ContentDate], [HeadingID], [WriterID], [ContentStatus]) VALUES (3, N'Bu film 2019 yılında oscar ödülüne aday oldu ve oscar ödülünü almayı başardı', CAST(N'2022-04-26T00:00:00.000' AS DateTime), 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Contents] OFF
GO
SET IDENTITY_INSERT [dbo].[Headings] ON 

INSERT [dbo].[Headings] ([HeadingID], [HeadingName], [HeadingDate], [CategoryID], [WriterID], [HeadingStatus]) VALUES (1, N'Breaking Bad ', CAST(N'2022-04-17T00:00:00.000' AS DateTime), 6, 3, 1)
INSERT [dbo].[Headings] ([HeadingID], [HeadingName], [HeadingDate], [CategoryID], [WriterID], [HeadingStatus]) VALUES (2, N'Green Book', CAST(N'2022-04-24T00:00:00.000' AS DateTime), 5, 1, 1)
INSERT [dbo].[Headings] ([HeadingID], [HeadingName], [HeadingDate], [CategoryID], [WriterID], [HeadingStatus]) VALUES (3, N'İtiraflarım', CAST(N'2022-05-31T00:00:00.000' AS DateTime), 3, 1, 1)
SET IDENTITY_INSERT [dbo].[Headings] OFF
GO
SET IDENTITY_INSERT [dbo].[ImageFiles] ON 

INSERT [dbo].[ImageFiles] ([ImageId], [ImageName], [ImagePath]) VALUES (1, N'Beşiktaş', N'/AdminLTE-3.0.4/images/besiktas.jpg')
INSERT [dbo].[ImageFiles] ([ImageId], [ImageName], [ImagePath]) VALUES (2, N'Kadiköy', N'/AdminLTE-3.0.4/images/kadikoy.jpg')
SET IDENTITY_INSERT [dbo].[ImageFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageID], [SenderMail], [ReceiverMail], [Subject], [MessageContent], [MessageDate]) VALUES (2, N'cm@cm.com', N'admin@a.com', N'deneme', N'dasdsdasdasdsad', CAST(N'2022-06-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Messages] ([MessageID], [SenderMail], [ReceiverMail], [Subject], [MessageContent], [MessageDate]) VALUES (3, N'y@ym.com', N'ms@gmail.com', N'test', N'dasdasdsadasd', CAST(N'2022-05-06T00:00:00.000' AS DateTime))
INSERT [dbo].[Messages] ([MessageID], [SenderMail], [ReceiverMail], [Subject], [MessageContent], [MessageDate]) VALUES (6, N'y@ym.com', N'nzl@gmail.com', N'test1 ', N'adasdsada', CAST(N'2022-06-20T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Writers] ON 

INSERT [dbo].[Writers] ([WriterID], [WriterName], [WriterSurName], [WriterImage], [WriterMail], [WriterPassword], [WriterAbout], [WriterTitle], [WriterStatus]) VALUES (1, N'Yudum', N'Çakmak', N'https://png.vector.me/files/images/1/6/162062/female_user_icon_clip_art.jpg', N'alickm@gmail.com', N'123', N'Yazılım mühendisi,frontend', N'Jr.', 1)
INSERT [dbo].[Writers] ([WriterID], [WriterName], [WriterSurName], [WriterImage], [WriterMail], [WriterPassword], [WriterAbout], [WriterTitle], [WriterStatus]) VALUES (2, N'Cem', N'Şahin', N'https://www.clipartmax.com/png/middle/2-25026_wondrous-design-man-clipart-cartoon-bunny-how-1-black-man-inviting-icon.png', N'cm@gmail.com', N'123', N'Fizikist ve BackEnd Dev.', N'Jr.', 1)
INSERT [dbo].[Writers] ([WriterID], [WriterName], [WriterSurName], [WriterImage], [WriterMail], [WriterPassword], [WriterAbout], [WriterTitle], [WriterStatus]) VALUES (3, N'Mustafa ', N'Ocak', N'https://png.pngtree.com/element_our/png_detail/20181214/beard-man-icon-png_269198.jpg', N'ms@gmail.com', N'123', N'Gıda mühendisi', N'Senior', 1)
SET IDENTITY_INSERT [dbo].[Writers] OFF
GO
/****** Object:  Index [IX_HeadingID]    Script Date: 21.08.2022 18:02:55 ******/
CREATE NONCLUSTERED INDEX [IX_HeadingID] ON [dbo].[Contents]
(
	[HeadingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WriterID]    Script Date: 21.08.2022 18:02:55 ******/
CREATE NONCLUSTERED INDEX [IX_WriterID] ON [dbo].[Contents]
(
	[WriterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 21.08.2022 18:02:55 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[Headings]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WriterID]    Script Date: 21.08.2022 18:02:55 ******/
CREATE NONCLUSTERED INDEX [IX_WriterID] ON [dbo].[Headings]
(
	[WriterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contacts] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [MessageTime]
GO
ALTER TABLE [dbo].[Contents] ADD  DEFAULT ((0)) FOR [ContentStatus]
GO
ALTER TABLE [dbo].[Headings] ADD  DEFAULT ((0)) FOR [HeadingStatus]
GO
ALTER TABLE [dbo].[Writers] ADD  DEFAULT ((0)) FOR [WriterStatus]
GO
ALTER TABLE [dbo].[Contents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contents_dbo.Headings_HeadingID] FOREIGN KEY([HeadingID])
REFERENCES [dbo].[Headings] ([HeadingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contents] CHECK CONSTRAINT [FK_dbo.Contents_dbo.Headings_HeadingID]
GO
ALTER TABLE [dbo].[Contents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contents_dbo.Writers_WriterID] FOREIGN KEY([WriterID])
REFERENCES [dbo].[Writers] ([WriterID])
GO
ALTER TABLE [dbo].[Contents] CHECK CONSTRAINT [FK_dbo.Contents_dbo.Writers_WriterID]
GO
ALTER TABLE [dbo].[Headings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Headings_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Headings] CHECK CONSTRAINT [FK_dbo.Headings_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Headings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Headings_dbo.Writers_WriterID] FOREIGN KEY([WriterID])
REFERENCES [dbo].[Writers] ([WriterID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Headings] CHECK CONSTRAINT [FK_dbo.Headings_dbo.Writers_WriterID]
GO
USE [master]
GO
